:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-title-color: #ffffff;
  --button-background: #f5f4fa;
  --footer-background: #2f303a;
  --hero-background: #c4c4c4;
  --border: #eeeeee;
  --icon-background: #f5f4fa;
  --logo-color: rgba(175, 177, 184, 1);
}

/* Header */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}

p {
  font-style: normal;
  margin: 0px;
}
a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.nav-content {
  display: flex;
  align-items: center;
}
.logo-part {
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.nav-list {
  display: flex;
}

.nav-link .item {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  display: block;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link + .nav-link {
  margin-left: 50px;
}
.nav-link .item:hover,
.nav-link .item:focus {
  color: var(--accent-color);
}

.nav-list .current {
  color: var(--accent-color);
}
.info-head {
  display: flex;
  align-items: center;
}
.info-link + .info-link {
  margin-left: 50px;
}
.info-head .item {
  display: flex;
  
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.info-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.info-link .item:hover,
.info-link .item:focus {
  color: var(--accent-color);
}
.info-link .item:hover .info-icon,
.info-link .item:focus .info-icon {
  fill: var(--accent-color);
}
.item.current::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* HERO CONTAINER */
.hero-section {
  max-width: 1600px;
 padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/hero_background.jpg);
  background-color: var(--hero-background);
  background-position: center;
}
.hero-container {
  position: relative;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
}
.hero-title {
  color: var(--secondary-title-color);
  margin: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* FEATURES */
.features {
  padding: 94px 0px;
}
.features-list {
  display: flex;
}
.features-list .item {
  width: 270px;
  margin-right: 30px;
}
.features-list .item:last-child {
  margin-right: 0px;
}
.features-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-icon {
  display: flex;
  height: 120px;
  background-color: var(--icon-background);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-content {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.section-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.doing {
  padding-bottom: 94px;
}
.doing-list {
  display: flex;
}
.doing-item {
  position: relative;
}
.doing-caption {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  

}
.caption {
  display: block;
  font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: var(--secondary-title-color);
letter-spacing: 0.03em;
text-transform: uppercase;



}


.doing-item:not(:last-child) {
  margin-right: 30px;
}

/* НАША КОМАНДА */


.members {
  background-color: var(--button-background);
  padding: 94px 0px;
  text-align: center;
}

.member-list {
  display: flex;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-content {
  background-color: var(--secondary-title-color);
  padding: 30px 32px;
}
.members-name {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.members-position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.soc-media-list {
  display: flex;
}
.soc-media-item {
  display: block;
  justify-content: center;
  align-items: center;
}
.soc-media-item:not(:last-child) {
  margin-right: 10px;
}
.soc-media-link {
  display: flex;

  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-logo {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--accent-color);
}
.soc-media-link:hover .soc-media-logo,
.soc-media-link:focus .soc-media-logo {
  fill: #ffffff;
}
/* CLIENTS SECTION */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
}
.clients-list-item {
  width: 170px;
  height: 90px;
 
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.client-logo {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}
.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--accent-color);
}

/* FOOTER SECTION */
.address {
  color: var(--secondary-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.info-foot {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.info-list-foot:hover,
.info-list-foot:focus {
  color: var(--accent-color);
}

.page-footer {
  display: flex;
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.address-container {
  margin-right: 70px;
}
.join-text {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.media-container {
  margin-top: 12px;
}
.address-list-item {
  display: block;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-media-list {
  display: flex;
}
.footer-media-item {
  display: block;
  justify-content: center;
  align-items: center;
}
.footer-media-item:not(:last-child) {
  margin-right: 10px;
}
.footer-media-link {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-logo {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--accent-color);
}
.footer-media-link:hover .footer-media-logo,
.footer-media-link:focus .footer-media-logo {
  fill: #ffffff;
}

.subscription-form {
  
  margin-left: auto;
  margin-top: 12px;
}
.button.subscription {
  display: flex;
  padding: 10px 28px;
  margin-left: 12px;

}
.send {
  margin-left: 10px;
}
.mail-send {
  display: flex;
  align-items: center;
}
.subscription-text {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.mail-input {
  background-color: inherit;
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.mail-input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}
.mail-input::placeholder {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
/* Стили для Portfolio */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-button {
  display: block;
  color: var(--primary-title-color);
  background-color: var(--button-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}
.work-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-card:hover,
.work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-list-item:nth-child(3n) {
  margin-right: 0px;
}
.work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-card-content {
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 20px 24px;
}
.project-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.work-image {
  width: 370px;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 

  
}
.work-card:hover .overlay,
.work-card:focus .overlay {
  transform: translateY(0%);
}
.overlay-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
 
  
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
 
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
  position: absolute;
  padding: 0px;
  border: none;
  height: 30px;
  background-color: #fff;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .modal-icon-close,
.close-modal:focus .modal-icon-close {
  fill: var(--accent-color);
}

.modal-title {
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-title-color);
margin-bottom: 12px;
}
.form-label {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  position: relative;
  
}

.form-input {
  width: 448px;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.field-box:focus-within .form-input {
  border-color: var(--accent-color);

}
.field-box:focus-within .input-icon{
  fill: var(--accent-color);
}
.form-label:focus-within .comments-input {
  border-color: var(--accent-color);

}
.field-box {
  position: relative;
 display: block;

 }
.input-svg {
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

  
.label-text {
  display: inline-block;
  margin-bottom: 4px;
}
.comments-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.checkbox-icon {
  display: block;
width: 16px;
height: 15px;
margin-right: 7px;
border: 2px solid var(--primary-title-color);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(./images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;

}

.checkbox-label {
  display: flex;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-left: 8px;
align-items: center;


}
.checkbox-label a{
  color:var(--accent-color);
  text-decoration: underline;
}
.agreement {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
text-align: center;
justify-content: center;
}
.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.comments-input::placeholder {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}