.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    display: flex;
  }
  .clients-list-item {
    width: 170px;
    height: 90px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .client-logo {
    fill: $logo-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid $logo-color;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
     border-color: $accent-color;
    }
    &:hover .client-logo,
    &:focus .client-logo {
     fill: $accent-color;
    }
  }
  
  