.section-title {
    color: $primary-title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .doing {
    padding-bottom: 94px;
  }
  .doing-list {
    display: flex;
  }
  .doing-item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .doing-caption {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
  }

  .caption {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $secondary-title-color;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  
  