.features {
    padding: 94px 0px;
  }
  .features-list {
    display: flex;
  }
  .features-list .item {
    width: 270px;
    margin-right: 30px;
  }
  .features-list .item:last-child {
    margin-right: 0px;
  }
  .features-title {
    color: $primary-title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .features-icon {
    display: flex;
    height: 120px;
    background-color: $icon-background;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .features-content {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }