  .logo-part {
    color: $accent-color;
  }
  .header-logo {
    margin-right: 93px;
    font-family: $logo-font;
    color: $primary-title-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: $logo-font;
    color: $secondary-title-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }