@import "./logo";
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .nav-content {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
  }
  
  .nav-link .item {
    color: $primary-title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  
    display: block;
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .nav-link + .nav-link {
    margin-left: 50px;
  }
 
  
  .nav-list .current {
    color: $accent-color;
  }
  .info-head {
    display: flex;
    align-items: center;
  }
  .info-link .item {
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:hover .info-icon,
    &:focus .info-icon {
      fill: $accent-color;
    }
  }
  .info-link + .info-link {
    margin-left: 50px;
  }
  .info-head .item {
    display: flex;
    
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }
  .info-icon {
    fill: $primary-text-color;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  
  .item.current::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: $accent-color;
    border-radius: 2px;
  }